<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link href="css/table_style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<br />
<h3>Добавление новой книги:</span></h3>
<br />
<form id="add-form" th:action="@{/books}" th:method="post">
    <div class="row">
        <label>Введите название Книги:&nbsp;</label>
        <input th:value="${book}" name="book" required/>
    </div>
    <br />
    <div class="row">
        <button type="submit">Добавить новую книгу</button>
    </div>
</form>
<br />
<form action="/home" method="get">
    <input type="submit" value="На домашнюю страницу">
</form>
<br />
<form action="/books" method="get">
    <input type="submit" value="К Книгам">
</form>
<br />
<form action="/logout" method="get">
    <input type="submit" value="Logout">
</form>
</body>
</html>