<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link href="css/table_style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<h2>Перечень существующих авторов в библиотеке.</span></h2>
<br />
<br />
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя автора</th>
        <th>Фамилия автора</th>
    </tr>
    </thead>
    <tbody th:each=" author : ${authors}">
    <tr>
        <td th:text="${author.id}"></td>
        <td th:text="${author.getFirstName()}"></td>
        <td th:text="${author.getLastName()}"></td>
    </tr>
    </tbody>
</table>
<br />

<div sec:authorize="hasRole('ADMIN')">
    <form action="/add_authors" method="get">
        <input type="submit" value="Добавить Автора (ADMIN, MANAGER)">
    </form>
    <br />
    <form action="/delete_authors" method="get">
        <input type="submit" value="Удалить Автора (ADMIN)">
    </form>
    <br />
    <form action="/update_authors" method="get">
        <input type="submit" value="Обновить Автора (ADMIN)">
    </form>
    <br />
</div>
<div sec:authorize="hasRole('MANAGER')">
    <form action="/add_authors" method="get">
        <input type="submit" value="Добавить Автора (ADMIN, MANAGER)">
    </form>
    <br />
</div>

<form action="/home" method="get">
    <input type="submit" value="На домашнюю страницу">
</form>
<br />
<div sec:authorize ="isAnonymous()">
        <a href="../login"> Login </a>
</div>
<br />
<div sec:authorize="isAuthenticated()">
        <a href="../logout"> Logout </a>
</div>
</body>
</html>