<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link href="css/table_style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/button_style.css" rel="stylesheet">
</head>
<body>
<h2>Перечень существующих книг в библиотеке.</span></h2>
<br />
<br />
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Наименование книги</th>
    </tr>
    </thead>
    <tbody th:each="book : ${books}">
    <tr>
        <td th:text="${book.id}"></td>
        <td th:text="${book.getBookName()}"></td>
    </tr>
    </tbody>
</table>
<br />
<br />
<div sec:authorize="hasRole('ADMIN')">
    <form action="/add_books" method="get">
        <input type="submit" value="Добавить Книгу (ADMIN, MANAGER)">
    </form>
    <br />

    <form action="/delete_books" method="get">
        <input type="submit" value="Удалить Книгу (ADMIN)">
    </form>

    <br />

    <form action="/update_books" method="get">
        <input type="submit" value="Обновить Книгу (ADMIN)">
    </form>
</div>
<br />
<div sec:authorize="hasRole('MANAGER')">
    <form action="/add_books" method="get">
        <input type="submit" value="Добавить Книгу (ADMIN, MANAGER)">
    </form>
    <br />
</div>
<br />
<form action="/home" method="get">
    <input type="submit" value="На домашнюю страницу">
</form>
<br />
<div sec:authorize ="isAnonymous()">
    <a href="../login"> Login </a>
</div>
<br />
<div sec:authorize="isAuthenticated()">
    <a href="../logout"> Logout </a>
</div>
</body>
</html>