<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>
    <link href="css/table_style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<h2>Перечень существующих в библиотеке жанров.</span></h2>
<br />
<br />
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Жанр</th>
    </tr>
    </thead>
    <tbody th:each="genre : ${genres}">
    <tr>
        <td th:text="${genre.id}"></td>
        <td th:text="${genre.getNameOfGenre()}"></td>
    </tr>
    </tbody>
</table>
<br />
<div sec:authorize="hasRole('ADMIN')">
    <form action="/add_genres" method="get">
        <input type="submit" value="Добавить Жанр (ADMIN, MANAGER)">
    </form>
    <br />
    <form action="/delete_genres" method="get">
        <input type="submit" value="Удалить Жанр (ADMIN)">
    </form>
    <br />
    <form action="/update_genres" method="get">
        <input type="submit" value="Обновить Жанр (ADMIN)">
    </form>
    <br />
</div>
<div sec:authorize="hasRole('MANAGER')">
    <form action="/add_genres" method="get">
        <input type="submit" value="Добавить Жанр (ADMIN, MANAGER)">
    </form>
    <br />
</div>
<br />
<form action="/home" method="get">
    <input type="submit" value="На домашнюю страницу">
</form>
<br />
<div sec:authorize ="isAnonymous()">
    <a href="../login"> Login </a>
</div>
<br />
<div sec:authorize="isAuthenticated()">
    <a href="../logout"> Logout </a>
</div>
</body>
</html>